<h1>Our current inventory needs...</h1>
<h2>These are all the items we have on our shelves.  If you are thinking of making a non-monetary donation, please consider picking up these items first.  Thank you.</h2>

<% @inventories.each do |inventory| %>
  <article>
    <header>
      <h3><%= link_to inventory.name, inventory %></h3>
      <%= link_to '' %>
    </header>
  </article>
<% end %>