<% if object.errors.any? %>
<section id="errors">
  <header>
    <h5>
      Oops! The <%= object.class.name.humanize.downcase %> could not be saved.  Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </h5>
  </header>
</section>
<% end %>