<h1>For December 2014, our hours are as follows:</h1>
<ul>
  <li>1st and 3rd Monday of the month 6:30PM - 8:30PM</li>
  <li>every Tuesday 9:30AM - 12:00PM</li>
  <li>every Saturday 11:00AM - 1:00PM</li>
</ul>

</br>

<div class="closing">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">
        The Pantry will be closed these days:
      </h4>
    </div>
    <div class="panel-body">
      <li></li>
    </div>
  </div>
</div>

</br>
<h4>Want to become one of our volunteers? <%= link_to 'Sign Up', signup_path %> today!</h4>