<h1>Our mission...</h1>

<h3>We are here to give you a hand up until you can get back on your feet...</h3>

<p>We know how the unexpected can affect a person and family:</p>

<ul>
  <li>lay off at work...</li>
  <li>illness, accident, or worse...</li>
  <li>loss of home...</li>
  <li>divorce...</li>
</ul>

</br>
<p>For November 2014, our hours are as follows:</p>
<ul>
  <li>1st and 3rd Monday of the month 6:30PM - 8:30PM</li>
  <li>every Tuesday 9:30AM - 12:00PM</li>
  <li>every Saturday 11:00AM - 1:00PM</li>
</ul>

</br>
<h4>Want to become one of our volunteers? <%= link_to 'Sign Up', signup_path %> today!</h4>