<h1>Volunteering... How can you help out?</h1>
</br>
<h4>We can use anyone of any age to help use at the pantry in at least one of the following ways:</h4>

<ul>
  <li>checking the dates on our inventory</li>
  <li>circling the date on our newly donated inventory</li>
  <li>stocking our new inventory on the shelves</li>
  <li>picking up our fresh inventory from some of our wonderful donators</li>
  <li>welcoming and signing in our visitors</li>
  <li>assisting our visitors as they shop through our shelves and tables</li>
  <li>help bag the items our visitors will be taking home</li>
  <li>lend a helping hand bringing our visitor's items to and into their vehicle</li>
</ul>