/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap.min
 *= require_tree .
 *= require events
 *= require users
 *= require inventories
 *= require donators
*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position: relative;
}

#header {
  width:100%;
  height:80px;
  font-size: 2em;
  color: #FFFFFF;
  padding:5px;
  font-family: Verdana;
  background-color: #B22222;
}

#content {
  padding: 25px;
  padding-top: 75px;
  width: 100%; 
  height: 100%; 
  overflow: auto;
}

#aside {
  float: right;
  width: 250px;
}

.indent {
  text-indent: 25px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}