<% content_for(:title, @category.name) %>

<article>
  <h1><%= @category.name %></h1>
  <br>
  <nav>
    <% if current_user_admin? %>
      <%= link_to "Edit Category", edit_category_path(@category), class: 'btn btn-warning' %>
      <%= link_to "Delete Category", category_path(@category), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to permanently delete your account?' } %>
    <% end %>
  </nav>
</article>